* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}
section {
    padding: 0 200px;
}
button {
    display: block;
    width: 100px;
    text-align: center;
    color: #f9faf8;
    background-color: #3882f6;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: medium;
    font-weight: 400;
    
}
/* First Section */
.one {
    background-color: #1f2937;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
header > div {
    font-size: 24px;
    color: #f9faf8;
}
nav {
    display: flex;
    justify-content: right;
    gap: 20px;
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 400;
}
.container-one {
    padding: 80px 0;
    display: flex;
}
.container-one > div {
    flex: 1;
    padding-right: 20px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}
.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #f9faf8;
    background-color: gray;
}
.container-one p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}


    /* Second Section */

.two {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
h3 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}
.container-two {
    padding: 30px 80px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.card {
    flex: 1;
}
.square {
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}
.card p {
    font-size: 18px;
    color: #1f2937;
}

/* Third section */
.three {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
.container-three {
    padding: 80px;
}
.three .author {
    font-style: normal;
    font-weight: 700;
    text-align: right;
    font-size: 25px;
}

/* Fourth Section */
.four {
    padding: 100px 200px;
}
.container-four {
    background-color: #3882f6;
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    border-radius: 5px;
}
h4 {
    font-size: 30px;
}
.four p {
    font-size: 20px;
}
.four button {
    border: 2px solid #f9faf8;
}

/* FOOTER */
footer {
    background-color: #1f2937 ;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #e5e7eb;
}

